.footer {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 1.5rem;
  text-align: center;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.footer h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 20px;
}

.footer p {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
}
