:root {
  --primary-color: #709a95;
  --secondary-color: #a78958;
  --background-color: #ebe1d7;
  --primary-text-color: #040303;
  --secondary-text-color: #ffffff;
  --border-color: #563c1a;
  --card-background: #e8f4f8;
}

body {
  margin: 0;
  font-family: "Montserrat", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text-color);
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
